<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-HI4FFJ9\SQLTS;Initial Catalog=DBSacramentos;Persist Security Info=True;User ID=sa;Password=teamsoft2019; Connection Timeout=200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="NombreBase" value="DBSacramentos"/>
    <add key="TipoBase" value="SQLSERVER"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
